#base-form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    padding-top: 0; /* Remove a margem superior */
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, background-color 0.5s;
    overflow-y: auto; /* Adiciona rolagem vertical */
}

#base-form.show {
    opacity: 1;
    visibility: visible;
    overflow: auto;
}

#botao-form {
    cursor: pointer;
    margin-top: -1vw!important;
}

#botao-fechar {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-weight: 900;
    font-size: 2vw;
    width: 1.6vw;
}

#botao-fechar img {
    width: 100%;
    height: auto;
}

.form {
    width: 48vw;
    margin: 0 auto;
    position: relative;
}

.col-form-1 {
    width: 48%;
    display: inline-block;
}

.col-form-2 {
    width: 48%;
    display: inline-block;
}

.row-form {
    width: 100%;
}

.wpcf7-select {
    background: none;
    border: 0;
    -webkit-appearance: none; /* Remove o estilo padrão do select no Safari */
    -moz-appearance: none; /* Remove o estilo padrão do select no Firefox */
    appearance: none; /* Remove o estilo padrão do select nos demais navegadores */
    padding-left: 3vw; /* Adiciona espaço para o ícone à esquerda */
    background-repeat: no-repeat;
    background-position: 1vw top; /* Posiciona o ícone à esquerda */
    background-size: 1vw 1vw;
    margin-top: 2vw;
    font-weight: 600;
    font-size: 1vw;
    border-bottom: 2px solid;
    padding: 0vw 0 1vw 3vw;
    width: 80%;
}

.conteudo-form {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.campoform {
    padding: 1.5vw 2vw;
    font-weight: 800;
    border: 0;
    width: 39.5vw;
}

.campoform::placeholder{
	color: #ccc;
}	

.wpcf7-submit {
    padding: 1.2vw 2vw;
    border: 1px solid;
    background: none;
    margin-top: 3vw;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}

.screen-reader-response {
    display: none;
}



@media all and (max-width: 767px){
	.wpcf7-select {
    font-size: 12px;
}

	.conteudo-form{
		width: 80%;
	}
	
	.campoform {
    padding: 20px 10px;
    font-weight: 800;
    border: 0;
    width: 100%;
 }
	
	.row-form{
		width: 90%;
	}
	
	.prontos br{
	}
	
	#botao-fechar{
		width: 20px;
	}
}


.wpcf7-not-valid-tip{
	width: 100%;
	float: left;
	margin-top: 2px;
	font-size: 11px;
	color: red;
	margin-bottom: 1vw;
}

.wpcf7-response-output{
	font-size: 12px;
	margin-bottom: 5vw;
}

.wpcf7-not-valid-tip{
	font-size: 12px;
}

.wpcf7 form.failed .wpcf7-response-output, .wpcf7 form.aborted .wpcf7-response-output{
	border: 0!important;
	color: #dc3232;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output{
	border: 0!important;
	color: #dc3232;
}

.wpcf7 form.sent .wpcf7-response-output{
	border: 0!important;
}

